mat-toolbar{
      button{
            border: none;
            background-color: transparent;
      }
      span{
            margin-right: 5%;
      }
      a{
            font-weight: normal;
            padding: 0 5%;
      }
}
