.mainContent {
      min-height: 80vh;
}
mat-sidenav {
      width: 180px;
      margin: 2px;
      border-radius: 5px;

      mat-nav-list {
            padding: 0px;
      }
}
.mat-nav-list .mat-list-item:hover {
      background-color: #e1eefa;
}
